.opcv-wrap {
  background-color: #F2F3F5;
  min-height: 100vh;
  // display: flex;


  .opcv-header {
    height: 50px;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    box-shadow: 0 2px 8px #f2f3f5;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    padding: 0 20px;
    box-sizing: border-box;
    align-items: center;
    z-index: 1;

    .home {
      font-size: 18px;
      font-weight: bold;
    }

    .right-area {
      display: flex;

      .config, .export, .more-templates {
        margin-left: 15px;
        height: 30px;
        // background-color: #1E80FF;
        // color: white;
        padding: 0 16px;
        // border-radius: 4px;
        // display: flex;
        // align-items: center;
        // cursor: pointer;
      }
    }
  }

  .opcv-main {
    padding: 8mm;
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }

  .opcv-footer {
    margin-top: 20px;
    width: 100%;
    background-color: white;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #a1a2a3;
    flex-direction: column;
  }

  ::-webkit-scrollbar {
    width: 0;
  }
}

.opcv-config-modal {

  .modal-item {
    display: flex;
    align-items: center;
    margin-top: 20px;

    .modal-item-name {
      width: 80px;
    }
  }
}

@media (max-width: 500mm) {
  body {
    zoom: 0.8;
  }
}

@media (max-width: 400mm) {
  body {
    zoom: 0.75;
  }
}

@media (max-width: 300mm) {
  body {
    zoom: 0.6;
  }
}

@media print {
  @page {
    size: A4 portrait;
    margin: 0;
  }

  body {
    margin: 0;
    zoom: 1;
  }

  .opcv-wrap {
    padding: 0;
    height: auto;

    .opcv-header {
      display: none;
    }

    .opcv-main {
      padding: 0;
      margin: 0;
    }

    .opcv-footer {
      display: none;
    }
  }

  #opcv-editor-container {
    display: none;
  }
}