.container {
  width: 100%;
  background-color: #F7FAFF;
  padding: 10px;
  border-radius: 8px;
  margin-top: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftArea {
  font-size: 18px;
  font-weight: bold;
}

.rightArea {
  display: flex;
  height: 100%;
  align-items: center;
}