.footer {
  background-color: white;
  color: #a1a2a3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 10px 0;
}

@media print {
  .footer {
    display: none;
  }
}