#opcv-paper-container {
  // the size of A4 paper. do not change
  height: var(--r-paper-height);
  width: var(--r-paper-width);
  background-color: white;
}

#opcv-editor-container {
  margin-left: 8mm;
  background-color: white;
  width: calc(var(--r-paper-width) - 30mm);
  height: var(--r-paper-height);
  border-radius: 5px;
  padding: 5mm;
  box-sizing: border-box;

  .edit-box {
    height: 100%;
    overflow-y: auto;
  }
}