.container {
  display: flex;
  margin-bottom: 3mm;
  line-height: calc(var(--paper-line-height) - 1.2mm);
}

.schoolLogo,
.photo {
  width: var(--photo-width);
  height: var(--photo-height);
}

.schoolLogo {
  height: 13mm;
}

.name {
  font-size: var(--large-font-size);
  font-weight: bold;
  margin-bottom: 1.5mm;
  line-height: var(--paper-line-height);
}

.photo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;
}

.defaultPhoto {
  background-color: var(--theme-color);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainInfo {
  flex: 1;
}

.isCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}