/* reset.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  /* list-style-position: inside; */
}

button,
input,
textarea {
  font-family: inherit;
  border: none;
  outline: none;
}
