.container {
  background-color: white;
  width: calc(var(--paper-width) - 24mm);
  height: var(--paper-height);
  border-radius: 8px;
  margin-right: 8mm;

  position: relative;
}

.menu {
  position: absolute;
  top: 0;
  width: 100%;
  height: 45px;
  display: flex;
  border-bottom: 1px solid #eee;
}

.menuItem {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #666;
}

.menuItem.isActive {
  color: #333;
  font-weight: bold;
}

.menuItem.isActive::after {
  content: '';
  height: 2px;
  width: 15px;
  background-color: #4096ff;
  position: absolute;
  bottom: 0px;
}


.menuBlock {
  height: 45px;
}

.editors {
  padding: 15px 20px;
  height: calc(var(--paper-height) - 60px);
  overflow-y: auto;
}

.editors::-webkit-scrollbar {
  display: none;
}

@media print {
  .container {
    display: none;
  }
}